@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto",sans-serif;
}
header{
  display: flex;
  align-items: center;
  width: 100%;
  border: 5px solid rgba(0,0,0,0.7);
  background: rgba(0,0,0,0.9);
}
header .header__navbar{
  display: flex;
  align-items: center;
  width: 650px;
  justify-content: space-between;
  /* background: black; */
  padding: 30px 50px;
}
header .header__navbar .logo a{
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
header .header__navbar nav{
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}
header .header__navbar nav li a{
  font-size: 18px;
  color:rgba(255,255,255,0.7);
  text-decoration: none;
}
header .header__navbar nav li a:hover{
  color: orange;
}